body {
  background: #fff7fb;
}

a {
  color: #c28536;
}

.App {
  max-width: 850px;
  margin: 0 auto;
}

.App-header {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin: 5px;
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 6px;
  padding: 10px;
}

.App-footer {
  display: block;
  margin: 20px 0;
  text-align: center;
  margin: 5px;
  font-size: 12px;
}
